{% extends 'navagos_main/base.html' %}

{% block page_header %}
    <h2> Log in to your account </h2>
{% endblock page_header %}

{% block content %}

    <p>Login</p>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <br/><br/>

    <form action={% url "navagos_auth_app:login" %} method="post">
        {% csrf_token %}
        
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3 form-check">
    


        <input type="submit" value="Submit" class="btn btn-secondary">
        
    </form>

{% endblock content %}