{% extends 'navagos_main/base.html' %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Ερώτηση:</h1>
    <p class="card-text">{{ question }}</p>

    <h2 class="mt-4">Απαντήσεις:</h2>

    <ul class="list-group list-group-flush">
      {% for answer in answers %}
        <li class="list-group-item">
          {{ answer }}
        </li>
      {% empty %}
        <li class="list-group-item">
          No answers have been added yet.
        </li>
      {% endfor %}
    </ul>

    <br/>
    <h3 class="mt-4">Σωστή Απάντηση:</h3>
    <p>{{ correct_answer }}</p>
  </div>
</div>

{% endblock content %}
