{% extends 'navagos_main/base.html' %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Account Details</h1>

    <h2>User Information</h2>
    <p><strong>{{ user.get_full_name }}</strong></p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>

    <p>You have taken {{ user_tests|length }} tests</p>
    <p>You have passed {{ passing_tests|length }} tests</p>

    <h2>Your Tests</h2>
    <ul class="list-group">
      {% for test in user_tests %}
        <li class="list-group-item">
          <p><strong>Test Date:</strong> {{ test.test_datetime }}</p>
          <p><strong>Correct Answers:</strong> {{ test.correct_answers }}/50</p>
          <p><strong>Result:</strong> 
            {% if test.pass_fail %}
              <span class="text-success">Pass</span>
            {% else %}
              <span class="text-danger">Fail</span>
            {% endif %}
          </p>
          <a href="{% url 'navagos_main:result' test.id %}" class="btn btn-primary">Review this test</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
